# Dependencies
/frontend/node_modules
/backend/venv
__pycache__/
*.py[cod]
*.class

# Environment variables
.env
*.env
config.env
setup.sh

# Production build
/frontend/build
/frontend/dist

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db
